.scroll {
  margin-bottom: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include phones {
    display: none;
  }
  &__text {
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
  }
  &--gray {
    color: $second-color;
    & .scroll_icon {
      fill: $second-color;
    }
  }
}